@import "./modernReset.css";
@import "./components/card.css";
@import "./components/form.css";

/*************/
/*main styles*/
/*************/

* {
  --beige: rgb(246, 244, 235);
  --light-blue: rgb(145, 200, 228);
  --medium-blue: rgb(116, 155, 194);
  --dark-blue: rgb(70, 130, 169);
  --border: 2px solid var(--dark-blue);
  --thin-border: 1px solid var(--dark-blue);
  --shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  --gradient: linear-gradient(
    to bottom,
    #435567,
    #6e7c8b,
    #9ca6b0,
    #cbd1d7,
    #fdfeff
  );

  font-family: "ADLaM Display", cursive;
}

a:visited,
a:link {
  color: black;
}

a:hover {
  background-color: var(--dark-blue);
}

a:link:active {
  background-color: var(--dark-blue);
}

.hidden {
  display: none;
}

body {
  background-image: var(--gradient);
  height: 100vh;
  display: grid;
  place-items: center;
}

header {
  width: 100%;
  height: 10rem;
  position: fixed;
  top: 0;
  display: grid;
  place-items: center;
  border-bottom: var(--border);
  background-color: var(--light-blue);
}

main {
  width: 100%;
  height: 30rem;
  display: grid;
  place-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: var(--border);
  background-color: var(--light-blue);
}

.big-icon-wrapper {
  width: calc(100% / 4);
  height: 100%;
  display: grid;
  place-items: center;
  text-decoration: none;
}
