form {
  padding-top: 2rem;
}

textarea,
input {
  margin-top: 1rem;
  border: var(--border);
  border-radius: 2rem;
  box-shadow: var(--shadow);
  text-align: center;
}

.form-button {
  margin: 3rem 0 3rem;
}
